$max-width-phone: 500px;

.article-container {
  margin: 60px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $max-width-phone) {
    .article-content {
      margin-inline: 5% !important;
      width: 90% !important;
      font-size: 1.3rem;
    }
  }
  .article-content {
    width: 60%;
    .article-tags {
      margin-top: 3rem;
    }
    .article-author-profile {
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-block: 3rem;
      .article-author-profile-picture {
        object-fit: cover;
        width: 150px;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-right: 1rem;
      }
      .article-author-profile-right {
        display: flex;
        flex-direction: column;
        .article-author-profile-name {
          font-size: 1.5rem;
          margin: 0;
        }
        .article-author-profile-description {
          font-size: 1rem;
          margin: 0;
          color: var(--text-color-muted);
        }
      }
    }
  }
  img {
    width: 100%;
  }
}
