.search-bar-container {
  input {
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    color: var(--text-color);

    font-size: 1.5rem;
    font-weight: 600;
    border-left: 3px solid var(--primary);
    transition: background-color 170ms ease-out;
    &::placeholder {
      color: var(--text-color-muted);
    }
    &:focus {
      outline: none;
    }
  }
}
